/* *{

} */
::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-thumb{
    background-color: #ff7f24;
}
::-webkit-scrollbar-track{
    background-color: rgb(0, 0, 0);
}
body, html{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: 'Prompt', sans-serif;
}

nav{
    width: 100%;
    height: 80px;
    display:flex;
    background-color: rgba(0, 0, 0, 0.24);
    padding: 0px 45px;
    position: fixed;
    justify-content:space-between;
    align-items: center;
    
}
nav .logo{
    font-size: 50px;
    letter-spacing: 1.5;
}
nav .logo a{
    float: left;
    text-decoration: none;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
}
nav ul{
    float: right;
}
nav ul li{
    display: inline-block;
}
nav ul li a {
    text-decoration: none;
    margin-right: 60px;
    color: #ff7f24;
    font-size: 35px;
    text-transform: uppercase;
    text-align: right;
    padding: 0px 0px;
}
.bg{
    background-color: black;
}

.scrolling-box{
    width: 100%;
    height: auto;
}
.box1,  .box3, .box4{
    display:  flex;
    width: 100%;
    height: 100vh;
    color: #fff;

}
.box2{
    display: flex;
    width: 100%;
    height: 180vh;
    color: #fff;
}
.box1{
    /* text */
    background-image: url("BG.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;    
    
}
.box1text{
    padding-top: 250px;
    padding-left: 30px;
    font-size: 65px;
}
.Box1TextInDes{
    font-size: 25px;
}
.btn {
    background-color: #ff7f24;
    border:none;
    color: black;
    font-size: 45px;
    padding: 10px 10px;
    text-decoration: none;
}
/* Information */
.box2{
    padding-top: 50px;
    background-color: rgb(15, 19, 19);
}
.box2text{
    padding-left: 40px;
    font-size: 30px;
    color: #ff7f24;
}
.box2text li{
    padding-left: 40px;
    color: #fff;
    font-size: 20px;
}
table, th ,td {
    padding-top: 10px;
    
    border: 2px solid rgb(255, 255, 255);
}
table{
    border-collapse: collapse;
}

.textFooter li a{
    text-decoration: none;
    color: white;
}
.btn2{
    background-color: #ff7f24;
    color: black;
    font-size: 30px;
    padding: 5px;
    text-decoration: none;
}
.ForPaddingBtn{
    padding-top: 20px;
}

/* Demonstration */
.box3{
    padding-top: 70px;
    background-color: rgb(15, 19, 19);
}
.box3text{
    padding-left: 50%;
}
/* about me */
.box4{
    background-color: rgb(15, 19, 19);
}
